td,
th {
    border: 1px solid #9ba7eb;
    text-align: center;
    margin: 5%;
}

th {
    background-color: #bbdeff;
}

tr:hover {
    background-color: #bbdeff;
}

table {
    text-align: center;
    cursor: pointer;
    padding: 5%;
}