.button {
    border-radius: 100%;
    cursor: pointer;
    width: 20vw;
    height: 15vh;
    margin: 5%;
}

div {
    background-color: #1da1f2;
}

span {
    color: #14171a;
    font-weight: 600;
    font-size: medium;
}