<div fxLayoutAlign="center center">
    <div fxLayoutAlign="center center">
        <button mat-raised-button style="background-color: #f5f8fa" class="button" (click)="openDialogCuentas()">
            <span>Cuentas Verificadas</span>  
      </button>

        <button mat-raised-button style="background-color: #f5f8fa" class="button" (click)="openDialogKeyWords()">
          <span>Palabras Claves</span>  
    </button>

        <button mat-raised-button style="background-color: #f5f8fa" class="button" (click)="openDialogAlert()">
        <span>Tipo de Alerta</span> 
         </button>
    </div>
</div>

<div fxLayoutAlign="center center">
    <div fxLayoutAlign="center center">
        <button mat-raised-button style="background-color: #f5f8fa" class="button" (click)="openDialogRiskLevel()">
  <span>Nivel de Riesgo</span>  
    </button>

        <!--         <button mat-raised-button style="background-color: #f5f8fa" class="button" (click)="openDialogActionProtocols()">
   <span>Protocolos de Acción</span> 
    </button> -->

        <button mat-raised-button style="background-color: #f5f8fa" class="button">
            <span>Instructivo</span>  
      </button>
    </div>
</div>