<div fxLayoutAlign="end end" style="margin-bottom: 2%;">
    <button mat-flat-button color="warn" mat-dialog-close>X</button>
</div>

<div fxLayoutAlign="center center">
    <h1>Alertas</h1>
</div>
<hr>

<div fxLayoutAlign="right right" style="width: auto; height:auto">

    <mat-card style="width: 100%; height: 100%; background: #e1e6eb;">

        <div fxLayoutAlign="space-around">
            <mat-form-field appearance="legacy" fxLayoutAlign="center center">
                <mat-label>
                    Buscar
                </mat-label>
                <input matInput placeholder="Ingrese Dato" (keyup)="applyFilter($event)" #input>
                <mat-icon matSuffix style="color: #1da1f2">search</mat-icon>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center center">
            <div class="table mat-elevation-z8">

                <table mat-table [dataSource]="dataSource" matSort style="width: 60vh;">

                    <ng-container matColumnDef="alerta">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de alerta </th>
                        <td mat-cell *matCellDef="let row"> {{row.alerta}} </td>
                    </ng-container>

                    <ng-container matColumnDef="riesgo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nivel de Riesgo </th>
                        <td mat-cell *matCellDef="let row"> {{row.riesgo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Protocolo de Acción </th>
                        <td mat-cell *matCellDef="let row"> {{row.accion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="create_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar</th>
                        <td mat-cell *matCellDef="let row"> {{row.create_at}}
                            <mat-icon>edit</mat-icon>
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="update_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar</th>
                        <td mat-cell *matCellDef="let row"> {{row.update_at}}
                            <mat-icon>delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

            </div>
        </div>

        <mat-paginator fxLayoutAlign="center center" style="background: #e1e6eb; color: black;  font-weight: bold;" [pageSizeOptions]="[10, 15, 20, 100]"></mat-paginator>

    </mat-card>

</div>

<!--TABLA ANTERIOR -->


<!-- <div style="max-width: 100%; height: 100%; ">
    <div fxLayoutAlign="end end">
        <button mat-dialog-close style="border-radius: 10%; padding: 1%; border-color:blanchedalmond ; background-color: #ff322e; color: blanchedalmond;">X</button>
    </div>

    <div fxLayoutAlign="center center">
        <h1>Alertas</h1>
    </div>

    <div>
        <table style="width: 100%; height: 30%; margin-top: 2%;">
            <tr>
                <th>Tipo de alerta</th>
                <th>Nivel de Riesgo</th>
                <th>Protocolo de Acción</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>


            <tr *ngFor="let alert of alertsType">
                <td>{{alert.name}}</td>
                <td>{{alert.risk_level}}</td>
                <td>{{alert.action_protocol}}</td>
                <td><button (click)="openDialogFormAlert(alert)" mat-raised-button><mat-icon style="color: rgb(48, 98, 141); ">edit</mat-icon></button> </td>
                <td><button (click)="deleteAlertTypes(alert)" mat-raised-button><mat-icon style="color: rgb(253, 23, 23); ">delete</mat-icon></button></td>
            </tr>

        </table>
        <div style="margin-top: 5%; display: flex; justify-content: center; align-content: center;">
            <button mat-raised-button style="background: #00acee; " (click)="openDialogFormAlert() ">Agregar Tipo de Alerta</button>
        </div>
    </div>

</div> -->