<div fxLayoutAlign="end end" style="margin-bottom: 2%;">
    <button mat-flat-button color="warn" mat-dialog-close>X</button>
</div>

<div fxLayoutAlign="center center">
    <h1>Incidents and Management Alerts </h1>
</div>
<hr>

<div fxLayoutAlign="right right" style="width: auto; height:auto">

    <mat-card style="width: 100%; height: 100%; background: #e1e6eb;">

        <div fxLayoutAlign="space-around">
            <mat-form-field appearance="legacy" fxLayoutAlign="center center">
                <mat-label>
                    Buscar
                </mat-label>
                <input matInput placeholder="Ingrese Dato" (keyup)="applyFilter($event)" #input>
                <mat-icon matSuffix style="color: #1da1f2">search</mat-icon>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center center">
            <div class="table mat-elevation-z8">

                <table mat-table [dataSource]="dataSource" matSort style="width: 60vh;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Vehículos</th>
                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidentsDetails() "> {{row.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="gps">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> GPS </th>
                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidentsDetails() "> {{row.gps}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="zone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zona de alerta </th>
                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidentsDetails() "> {{row.zone}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

            </div>
        </div>

        <mat-paginator fxLayoutAlign="center center" style="background: #e1e6eb; color: black;  font-weight: bold;" [pageSizeOptions]="[10, 15, 20, 100]"></mat-paginator>

    </mat-card>

</div>

<!-- TABLA ANTERIOR -->
<!-- <table>
            <tr>
                <th>Cuenta</th>
                <th>Categoría</th>
                <th>Palabra Clave</th>
                <th>Tipo de alerta</th>
                <th>Nivel de riesgo</th>
                <th>Protocolo de acción</th>
                <th>Ubicación</th>
            </tr>
            <tr>
                <td (click)="openDialogIncidentsDetails() ">@cprlaprimera</td>
                <td (click)="openDialogIncidentsDetails() ">Accidente en vía</td>
                <td (click)="openDialogIncidentsDetails() ">Cierre de calle</td>
                <td (click)="openDialogIncidentsDetails() ">Manifestantes toman vía</td>
                <td (click)="openDialogIncidentsDetails() ">Medio</td>
                <td (click)="openDialogIncidentsDetails() ">Cambio de ruta</td>
                <td (click)="openDialogIncidentsDetails() ">Reforma</td>
            </tr>

            <tr>
                <td (click)="openDialogIncidentsDetails() ">@C5Edomex </td>
                <td (click)="openDialogIncidentsDetails() ">Accidente en vía</td>
                <td (click)="openDialogIncidentsDetails() ">Accidente</td>
                <td (click)="openDialogIncidentsDetails() ">Manifestantes toman vía</td>
                <td (click)="openDialogIncidentsDetails() ">Medio</td>
                <td (click)="openDialogIncidentsDetails() ">Cambio de ruta</td>
                <td (click)="openDialogIncidentsDetails() ">Eje central</td>
            </tr>
        </table> -->


<!-- <div style="width: 50vw; max-height:70vh ">
    <mat-card style="background:#1da1f2; width: 100%; height:100% ">
        <mat-card-title style="color: white; margin: 5%; " fxLayoutAlign="center center ">
            Incidentes y Alertas
        </mat-card-title>

        <mat-card style="background: #657786; width: 100%; height:80% " class=" alertas ">

            <mat-card style="margin-top: 5%; margin-bottom: 5%; width: 100%; height: auto; ">
                Incidente 1
            </mat-card>
            <mat-card style="margin-top: 5%; margin-bottom: 5%; width: 100%; height: auto; ">
                Incidente 2
            </mat-card>
            <mat-card style="margin-top: 5%; margin-bottom: 5%; width: 100%; height: auto; ">
                Incidente 3
            </mat-card>
            <mat-card style="margin-top: 5%; margin-bottom: 5%; width: 100%; height: auto; ">
                Incidente 4
            </mat-card>
            <mat-card style="margin-top: 5%; margin-bottom: 5%; width: 100%; height: auto; ">
                Incidente 5
            </mat-card>
            <mat-card style="margin-top: 5%; margin-bottom: 5%; width: 100%; height: auto; ">
                Incidente 6
            </mat-card>
            <mat-card style="margin-top: 5%; margin-bottom: 5%; width: 100%; height: auto; ">
                Incidente 7
            </mat-card>

        </mat-card>

    </mat-card>
</div> -->