// td,
// th {
//     border: 1px solid #9ba7eb;
//     text-align: center;
// }
// th {
//     background-color: #bbdeff;
// }
// tr:hover {
//     background-color: #bbdeff;
// }
// table {
//     text-align: center;
//     cursor: pointer;
//     padding: 5%;
// }
.table {
    height: 45vh;
    width: max-content;
    max-width: 100%;
    text-align: left;
    overflow: hidden;
    position: relative;
    margin: 2%;
}

.table:hover {
    overflow: auto;
    margin: 2%;
}

th {
    top: 0;
    position: sticky;
    margin: 1%;
    text-align: left;
    background-color: #bbdeff;
    color: black;
    font-weight: bold;
}

tr:hover {
    background-color: #bbdeff;
    cursor: pointer;
}

mat-icon,
mat-label {
    cursor: pointer;
}

mat-label {
    font-weight: bolder;
    color: black;
}