.mat-form-field {
    font-size: 14px;
    max-width: 50vw;
}

h2 {
    margin: 0%;
    padding: 0%;
    margin-top: 2%;
}

mat-icon {
    margin: 2%;
    color: rgb(231, 21, 21);
}

.mat-row:hover {
    background-color: rgba(185, 224, 188, 0.815);
    cursor: pointer;
}