quick-panel {
    overflow: scroll;
    justify-content: center;
    background: rgb(253, 253, 253);
    width: 100%;
    height: 100%;
}

h5 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
}