<div style="width: auto; height: auto; ">
    <div fxLayoutAlign="end end">
        <button mat-dialog-close style="border-radius: 10%; padding: 1%; border-color:blanchedalmond ; background-color: #ff322e; color: blanchedalmond;">X</button>
    </div>
    <div fxLayoutAlign="center center">
        <h1>Niveles de Riesgo </h1>
    </div>
    <div>
        <table style="width: 100%; height: 100%; margin-top: 2%;">
            <tr>
                <th>Nivel de Riesgo</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td style="background: rgb(10, 158, 77);">Aceptable</td>
                <td>No se requiere ninguna acción.</td>
            </tr>
            <tr>
                <td style="background: yellow">Bajo</td>
                <td>Menores efectos que pueden ser fácilmente remediados. Se administra con procedimientos rutinarios</td>
            </tr>
            <tr>
                <td style="background: orange">Moderado</td>
                <td>Debe ser administrado con procedimientos normales de control</td>
            </tr>
            <tr>
                <td style="background: rgb(175, 52, 52)">Alto</td>
                <td>Se requiere atención de la Alta Dirección. Planes de tratamiento requeridos, implementados y reportados a los jefes de las oficinas, direcciones, entre otros.</td>
            </tr>
            <tr>
                <td style="background: red">Muy Alto</td>
                <td>Se requiere acción inmediata. Planes de tratamiento requeridos, implementados y reportados a la Alta Dirección. </td>
            </tr>
        </table>
    </div>
</div>