<div style="width: 25vw; height: 90vh;">

    <div fxLayoutAlign="end end">
        <button mat-dialog-close style="border-radius: 10%; padding: 1%; border-color:blanchedalmond ; background-color: #ff322e; color: blanchedalmond;">X</button>
    </div>

    <div fxLayoutAlign="center center" style="margin: 3%;">
        <h1>Atención de Botón de Pánico</h1>
    </div>

    <mat-card style="background: #eef7fd; padding-left: 4%; padding-right: 4%; ">
        <form>

            <div>
                <mat-label>Contacto</mat-label>
                <input class="form-control" type="text">
            </div>

            <div>
                <mat-label>Ubicación</mat-label>
                <input class="form-control" type="text">
            </div>

            <div>
                <mat-label>Conductor</mat-label>
                <input class="form-control" type="text">
            </div>

            <div>
                <mat-label>Vehículo</mat-label>
                <input class="form-control" type="text">
            </div>

            <div>
                <mat-label>Placa</mat-label>
                <input class="form-control" type="text">
            </div>

            <div>
                <mat-label>Administrador</mat-label>
                <input class="form-control" type="text">
            </div>

            <div>
                <mat-label>Propietario</mat-label>
                <input class="form-control" type="text">
            </div>

            <div fxLayoutAlign="center center" style="margin-top: 5%; margin-bottom: 2%;">
                <button mat-raised-button style=" background: #00acee; "> Guardar </button>
            </div>
        </form>
    </mat-card>

</div>