mat-card-title {
    width: 100%;
    height: 7vh;
    text-align: center;
    align-items: center;
}

p {
    text-align: center;
}

span,
mat-panel-description {
    white-space: wrap;
}

.table {
    height: 25vh;
    width: max-content;
    max-width: 100%;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.table:hover {
    overflow: auto;
}

th {
    top: 0;
    position: sticky;
    margin: 1%;
    text-align: left;
    background-color: #bbdeff;
    color: black;
    font-weight: bold;
}

tr:hover {
    background-color: #bbdeff;
    cursor: pointer;
}

b {
    color: black;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    padding: 0%;
    margin: 1%;
}

p {
    margin: 1%;
    width: max-content;
}

.horas-promedio {
    display: flex;
    float: left;
    justify-content: center;
    text-decoration-line: underline overline;
}

.horas-trabajadas {
    text-decoration-line: underline overline;
}