<mat-tab-group style="width: 100%; height: auto; ">

    <mat-tab label="Histórico">

        <!-- FILTRO Y DATEPICKER DE TABLA HISTÓRICO-->
        <mat-card style="width: 100%; height: auto; background: #e1e6eb;">

            <div fxLayoutAlign="center space-around" style="width: 100%;">
                <mat-form-field style="width: auto; margin: 1%;" appearance="legacy" fxLayoutAlign="center center">
                    <mat-label>
                        Buscar
                    </mat-label>
                    <input matInput placeholder="Ingrese Dato" (keyup)="applyFilter($event)" #input>
                    <mat-icon matSuffix style="color: #1da1f2">search</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Seleccione Fecha</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Fecha de Inicio">
                        <input matEndDate formControlName="end" placeholder="Fecha Final">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
            </div>

            <!-- TABLA HISTÓRICO -->
            <div fxLayoutAlign="center center">
                <div class="table mat-elevation-z8">

                    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">

                        <ng-container matColumnDef="transportista">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Línea Transportista</th>
                            <td mat-cell *matCellDef="let row">{{row.transportista}} </td>
                        </ng-container>

                        <ng-container matColumnDef="conductor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Conductor </th>
                            <td mat-cell *matCellDef="let row"> {{row.conductor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="identificativo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificativo de Viaje </th>
                            <td mat-cell *matCellDef="let row"> {{row.identificativo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="puntaje">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje SIPA </th>
                            <td mat-cell *matCellDef="let row"> {{row.puntaje}} </td>
                        </ng-container>

                        <ng-container matColumnDef="calificacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Calificación </th>
                            <td mat-cell *matCellDef="let row"> {{row.calificacion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="duracion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración total (horas) </th>
                            <td mat-cell *matCellDef="let row"> {{row.duracion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="gps">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> GPS </th>
                            <td mat-cell *matCellDef="let row"> {{row.gps}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </table>

                </div>
            </div>

            <mat-paginator fxLayoutAlign="center center" style="background: #e1e6eb; color: black;  font-weight: bold;" [pageSizeOptions]="[3, 6, 10, 100]"></mat-paginator>

        </mat-card>

        <div style="display: flex; justify-content: center;">

            <mat-card style="width: 100%; height: 100%;">
                <canvas width="400" height="110" baseChart [datasets]="lineChartData " [labels]="lineChartLabels " [options]="lineChartOptions " [colors]="lineChartColors " [legend]="lineChartLegend " [chartType]="lineChartType
                    " [plugins]="lineChartPlugins " (chartHover)="chartHovered($event) " (chartClick)="chartClicked($event) "></canvas>
            </mat-card>
        </div>

    </mat-tab>

    <mat-tab label="Sistema de Prevención de Accidentes">

        <div style=" background: #3c7ead " fxLayoutAlign="space-between">

            <mat-card style="width: 100%; height: auto;  border: solid 1px rgb(5, 5, 5); ">
                <mat-card-actions fxLayoutAlign="space-between ">
                    <button mat-raised-button (click)="openDialogDangerZone() " style="color: rgb(21, 21, 177) ; ">Zonas de Riesgo</button>
                    <button mat-raised-button (click)="openDilaogAuthorizedStops() " style="color: rgb(21, 21, 177) ; ">Paraderos autorizados</button>
                    <button mat-raised-button (click)="openDialogRouteTracking() " style="color: rgb(21, 21, 177) ; ">Trazados de ruta</button>
                    <button mat-raised-button style="border-radius: 5%; "> <mat-icon style="color: rgb(21, 21, 177); ">search</mat-icon> </button>
                </mat-card-actions>

                <agm-map [latitude]="lat " [longitude]="lng " [zoom]="zoom " style="width: 100%; height: 40vh; ">

                    <agm-marker [latitude]="lat " [longitude]="lng ">
                        <agm-info-window>
                            <div>
                                <p> lat: </p>
                                <p> lng: </p>
                                <button mat-raised-button class=" compose-dialog-button w-100-p ">tracking details</button>
                            </div>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>

            </mat-card>

            <div style="margin-top: 5%;">
                <div class="table mat-elevation-z8">

                    <table mat-table [dataSource]="dataSource1" matSort style="width: 100%;">

                        <ng-container matColumnDef="transportista">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="openDilaogAuthorizedStops()"> Línea Transportista</th>
                            <td mat-cell *matCellDef="let row">{{row.transportista}} </td>
                        </ng-container>

                        <ng-container matColumnDef="conductor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Conductor </th>
                            <td mat-cell *matCellDef="let row"> {{row.conductor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="incidencia">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidencia </th>
                            <td mat-cell *matCellDef="let row"> {{row.incidencia}} </td>
                        </ng-container>

                        <ng-container matColumnDef="duracion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración total (horas) </th>
                            <td mat-cell *matCellDef="let row"> {{row.duracion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> DT </th>
                            <td mat-cell *matCellDef="let row"> {{row.dt}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>


                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>

                    </table>

                </div>
                <mat-paginator fxLayoutAlign="center center" style="background: #e1e6eb; color: black;  font-weight: bold;" [pageSizeOptions]="[3, 6, 10, 100]"></mat-paginator>
            </div>

        </div>

        <div style="display: flex; justify-content: center;">
            <mat-card style="width: 100%; height: 50%;">
                <div fxLayoutAlign="end end">
                    <button mat-raised-button style="background: #1a85d1; margin: 1%;" data-title="Conductores">
                    Descargar</button>
                </div>
                <div>
                    <canvas baseChart width="400" height="65" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions " [plugins]="barChartPlugins " [legend]="barChartLegend " [chartType]="barChartType ">
                    </canvas>
                </div>
            </mat-card>
        </div>

    </mat-tab>

    <mat-tab label="Salidas Activas ">
        <iframe style="height: 92.9vh; width: 100%; " width="1250 " height="83vh " src="https://app.powerbi.com/reportEmbed?reportId=d9c11b9c-6d26-4f12-aafd-1a59ce167a14&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D "
            frameborder="0 " allowFullScreen="true "></iframe>
    </mat-tab>

    <mat-tab label="En tiempo ">
        <iframe style="height: 92.9vh; width: 100%; " width="1250 " height="83vh " src="https://app.powerbi.com/reportEmbed?reportId=04c8d294-e542-41ec-b0d9-efc625eb9ca5&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D "
            frameborder="0 " allowFullScreen="true "></iframe>
    </mat-tab>

    <mat-tab label="Anomalías ">
        <iframe style="height: 92.9vh; width: 100%; " width="1250 " height="83vh " src="https://app.powerbi.com/reportEmbed?reportId=1b25c1e7-bdf3-42e2-b490-7172d2fada45&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D "
            frameborder="0 " allowFullScreen="true "></iframe>
    </mat-tab>

    <mat-tab label="Salidas Históricas ">
        <iframe style="height: 92.9vh; width: 100%; " width="1250 " height="83vh " src="https://app.powerbi.com/reportEmbed?reportId=2e23900b-765c-4407-8231-39ea34202c9d&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D "
            frameborder="0 " allowFullScreen="true "></iframe>
    </mat-tab>

</mat-tab-group>