table {
    max-width: 100vw;
}

.mat-form-field {
    font-size: 14px;
    max-width: 100vw;
}

td,
th {
    width: 100vw;
}

.container {
    width: 80vw;
    padding: 2%;
}

.container-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-2 {
    width: 80vw;
    padding: 2%;
}

h2 {
    margin: 0%;
    padding: 0%;
    margin-top: 2%;
}

mat-icon {
    margin: 2%;
    color: rgb(231, 21, 21);
}

.mat-row:hover {
    background-color: rgba(185, 224, 188, 0.815);
    cursor:pointer;
  }

