input {
    width: 100%;
    padding: 2%;
    margin: 1%;
    border: 1px solid #226fc1;
    font-family: Arial;
}

agm-map {
    height: 40vh;
    width: 40vw;
}

textarea {
    width: 100%;
    padding: 2%;
    margin: 1%;
    border: 1px solid #226fc1;
    font-family: Arial;
}

mat-card {
    border: 1px solid rgb(187, 184, 184);
}