<div fxLayoutAlign="end end" style="margin-bottom: 2%;">
    <button mat-flat-button color="warn" mat-dialog-close>X</button>
</div>

<div fxLayoutAlign="center center">
    <h1>Logistic and Transportation</h1>
</div>
<hr>

<div fxLayoutAlign="right right" style="height: auto; width: auto;">

    <mat-card style="width: 100%; height: 100%; background: #e1e6eb;">

        <div fxLayoutAlign="space-around">
            <mat-form-field appearance="legacy" fxLayoutAlign="center center">
                <mat-label>
                    Buscar
                </mat-label>
                <input matInput placeholder="Ingrese Dato" (keyup)="applyFilter($event)" #input>
                <mat-icon matSuffix style="color: #1da1f2">search</mat-icon>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center center">
            <div class="table mat-elevation-z8">

                <table mat-table [dataSource]="dataSource" matSort style="width: 60vh;">

                    <ng-container matColumnDef="transportista">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Línea Transportista</th>
                        <td mat-cell *matCellDef="let row"> {{row.transportista}} </td>
                    </ng-container>


                    <ng-container matColumnDef="puntaje">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje SIPA </th>
                        <td mat-cell *matCellDef="let row"> {{row.puntaje}} </td>
                    </ng-container>


                    <ng-container matColumnDef="calificacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Calificación </th>
                        <td mat-cell *matCellDef="let row"> {{row.calificacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="duracion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración total del viaje en horas </th>
                        <td mat-cell *matCellDef="let row"> {{row.duracion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="conductor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Conductor </th>
                        <td mat-cell *matCellDef="let row"> {{row.conductor}} </td>
                    </ng-container>

                    <ng-container matColumnDef="vehiculo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehículo </th>
                        <td mat-cell *matCellDef="let row"> {{row.vehiculo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gps">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> GPS </th>
                        <td mat-cell *matCellDef="let row"> {{row.gps}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

            </div>
        </div>

        <mat-paginator fxLayoutAlign="center center" style="background: #e1e6eb; color: black;  font-weight: bold;" [pageSizeOptions]="[10, 15, 20, 100]"></mat-paginator>

    </mat-card>
    <!-- table original -->
    <!-- <div style="width: 100%; height: 100%;">
        <table>
            <tr>
                <th>Vehiculos en Geocerca</th>
            </tr>

            <tr>
                <td><b>GPS: E324</b> Zona de alerta: Anillo Periférico (Valle de México)</td>
            </tr>

            <tr>
                <td><b>GPS: E856</b> Zona de alerta: Avenida de los Insurgentes.</td>
            </tr>
            <tr>
                <td> <b> GPS: E258</b> Zona de alerta: Calzada de la Viga</td>
            </tr>
            <tr>
                <td><b> GPS: E985</b> Zona de alerta: Eje Central Lázaro Cárdenas</td>
            </tr>
        </table>
    </div> -->
</div>